body.error404{
	background-color: map-get($colors, grey);
	
	.errorPage{
		height: 100vh;
		display:flex;
		align-items: center;
		text-align:center;
		
		h1{
			font-size: 8em;
			font-weight: bold;
			letter-spacing: 0.04em;
			margin-bottom:0;
		}
		p{
			font-size:2em;
			font-weight: bold;			
		}
	}
}
