body.about{
	main{
		background-color: map-get($colors, grey);
		border-left: map-get($colors, blue) solid 5px;
		position:relative;
		
		.pageNav{
			position:fixed;
			top:15px;
			right:35px;
			
			ul{
				list-style:none;
				padding:0;
				margin:0;
				
				> li{
					display:inline-block;
					position:relative;
					width:50px;
					
					&:not(:last-child){
						margin-right:25px;
					}
					
					span{
						font-size:0.75em;
						text-transform: uppercase;
						display:block;
						position:relative;
						top:5px;
						opacity:0;
						transition: all linear 0.3s;
					}
					
					&.active{
						span{
							top:25px;
							opacity: 1;
						}
						
						&:before{
							background-color: map-get($colors, blue);
						}
					}
					
					&:before{
						content: "";
						width: 10px;
						height: 10px;
						border: map-get($colors, blue) solid thin;
						border-radius: 50%;
						background-color: transparent;
						display:block;
						position:absolute;
						top:0;
						left:50%;
						transform: translateX(-50%);
						transition: all linear 0.3s;
					}
				}
			}
		}
		
		section{
			height: 100vh;
			display:flex;
			align-items: center;
		}
	}
}
