body.upto{
	main{
		background-color: map-get($colors, grey);
		position:relative;
		
		.uptoSection{
			height: 100vh;
			display:flex;
			align-items: center;
			
			.container-fluid{
				height: inherit;
				
				.row {
					&, & > div {
						height: inherit;
					}
				}
				
				.currentMusic{
					background:white;
					position:relative;
					
					.musicWrap{
						max-width:80%;
						margin:0 auto;
						z-index:99;
						
						h2{
							margin-bottom:35px;
						}			
					}
					
					&:after{
						content: '';
						//background-color: rgba(map-get($colors, black), 0.5);
						top:0;
						left:0;
						right:0;
						bottom:0;
						position:absolute;
					}
				}
				
				.currentlyWatching{
					position:relative;
					
					h2{
						font-size: 1.5em;
						padding: 10px 0;
					}
					
					.watchingContainer{
						height: calc(100vh - 60px);
						overflow-y: auto;
						text-align:center;
						margin: 0 -15px;
						
						img{
							max-width:800px;
						}
					}
				}
			}
		}
	}
}
