body.work{
	main{
		background-color: map-get($colors, grey);
		position:relative;

		.workSection{
			.row{
				> div{
					overflow: hidden;
					position:relative;
					cursor: pointer;

					img{
						position:absolute;
						top:50%;
						left:50%;
						transform: translate(-50%, -50%) scale(0.5);
						transition: transform ease 1s;
						max-width: 100%;
					}

					.projectCover{
						position:absolute;
						bottom:-50%;
						left:0;
						background-color:map-get($colors, blue);
						width:100%;
						padding: 15px;
						box-shadow: 0 -2px 5px rgba(map-get($colors, black), 0.3);
						z-index: 99;
						transition: bottom linear 0.3s;

						h2{
							color: map-get($colors, white);
							font-size: 1.5em;
						}
					}

					&:before{
						content: "";
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						background-color:rgba(map-get($colors, black), 0.75);
						opacity: 1;
						z-index:9;
						transition: all linear 0.3s;
					}

					&:hover{
						img {
							transform: translate(-50%, -50%) scale(0.65);
						}
						
						.projectCover {
							bottom:0;
						}
						
						&:before {
							opacity:0;
						}
					}
				}
			}
		}
	}

	.projectModal{
		.metadata{
			margin: 20px 0 45px;

			.metadataItem{
				margin-bottom:2px;
				font-weight: 200;

				span{
					display:inline-block;
					min-width:100px;
				}
			}

			ul{
				display:inline-block;
				margin:0;
				padding:0;

				li{
					display:inline-block;
					position:relative;

					&:not(:last-child){
						margin-right:12px;
						padding-right:12px;

						&:after{
							content: "";
							height: 3px;
							width: 3px;
							background-color: map-get($colors, white);
							border-radius: 50%;
							right:0;
							top:50%;
							transform: translateY(-50%);
							position:absolute;
						}
					}
				}
			}
		}

		a{
			display:block;
			background-color: map-get($colors, blue);
			color: map-get($colors, white);
			margin: 0 -25px;
			bottom:-25px;
			position:relative;
			padding: 15px 0;
			border-bottom-left-radius: 9px;
			border-bottom-right-radius: 9px;
			text-align: center;
			transition: all ease 0.75s;

			&:hover{
				background-color: darken(map-get($colors, blue), 10%);
				text-decoration: none;
			}
		}
	}
}
