.audioPlayer{
	width: 100%;
	border-radius: 5px;
	overflow:hidden;
	display:flex;
	background-color: map-get($colors, white);
	color: map-get($colors, black);
	box-shadow: 0 3px 8px rgba(map-get($colors, black), 0.35);
	position:relative;
	z-index:9;
	
	.audioImage{
		flex:0 0 25%;
		max-width:25%;
	}
	
	.audioData{
		padding: 15px;
		flex: 1;
		position:relative;
		display:flex;
		align-items: center;
		
		.audioInner {
			flex: 1;
			
			.audioLabel{
				display:inline-block;
				background-color: map-get($colors, blue);
				padding:5px 10px;
				border-radius: 20px;
				position:absolute;
				top:10px;
				left:10px;
				box-shadow: 0 0 3px rgba(map-get($colors, black), 0.35);
				
				h4 {
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					font-size:0.6em;
					text-transform: none;
					color:map-get($colors, white);
					margin:0;
				}
			}
			
			.audioLink {
				position: absolute;
				top: 3px;
				right: 8px;

				a {
					color: map-get($colors, grey);
				}
			}

			.audioTrackInfo {
				display: flex;
				align-items: center;
				margin-bottom: 10px;

				.audioButton {
					border: solid thin map-get($colors, lightgrey);
					border-radius: 50%;
					width: 30px;
					height: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: map-get($colors, lightgrey);
					font-size: 0.8em;
					margin-right: 15px;
					padding:1px 0 0 1px;
				}

				.audioTrackData {
					flex: 1;

					.audioMainData {
						display:flex;
						align-items: center;
						
						.audioTitle {
							font-size: 1.15em;
							text-transform: uppercase;
						}

						.audioArtist {
							position: relative;
							margin-left: 25px;
							padding-left: 25px;
							font-size: 0.9em;

							&:before {
								content: "";
								width: 20px;
								height: 1px;
								background-color: map-get($colors, black);
								position: absolute;
								left: -10px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
					
					.audioMeta{
						font-size:0.75em;
					}
				}
			}
			
			.audioTracker {
				width: 100%;
				background: map-get($colors, lightgrey);
				height: 4px;
				border-radius: 10px;
				margin-top: 15px;
				position: relative;
				overflow: hidden;

				&:before {
					content: "";
					position: absolute;
					width: var(--current-track);
					left: 0;
					height: 4px;
					top: 0;
					background: map-get($colors, blue);
					transition: width linear 0.5s;
				}
			}

			.audioTimeWrap {
				display: flex;
				justify-content: flex-end;
				font-size: 0.8em;
				color: map-get($colors, grey);
			}
		}
	}
}
