@import "styles/variables";

.about-page {
  .banner-wrap {
    @media only screen and (max-width: 1050px) {
      height: auto;

      .banner-text {
        font-size: 9em;
        transform: none;
        position: relative;
        left: 0;
        top: 0;
        padding-left: 25px;
      }
    }
  }

  .about-info {
    position: relative;

    .about-inner {
      position: relative;
      height: 75vh;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      @media only screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 10em;
      }

      > div {
        width: 50%;
        flex: 0 0 50%;
        max-height: 100%;

        @media only screen and (max-width: 1050px) {
          width: 100%;
          flex: 0 0 100%;

          &:first-child {
            padding-right: 0;
          }
        }

        &:first-child {
          padding-left: calc((100vw - 1140px) / 2);
          padding-right: 30px;

          h2 {
            color: $et_blue;
            font-size: 1.5em;
          }

          .button {
            margin-top: 35px;
          }

          @media only screen and (max-width: 1150px) {
            padding-left: 25px;
          }
        }

        &:last-child {
          position: relative;

          @media only screen and (max-width: 1050px) {
            display: none;
          }

          .headshot-wrapper {
            position: relative;
            width: 100%;
            height: calc(100% + 30vh);
            overflow: hidden;
            top: -30vh;

            > div {
              position: absolute;
              top: 50%;
              transform: translateY(-45%);
            }
          }
        }
      }
    }

    .about-contact {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $et_dark_blue;
      color: white;
      border-radius: 50px;
      display: flex;
      flex-wrap: nowrap;
      padding: 15px 30px;
      box-shadow: 5px 5px 10px rgba(black, 0.75);

      .text {
        margin-right: 3em;

        @media only screen and (max-width:991px) {
          margin-right: 1em;
        }
      }

      .socials {
        a {
          margin-right: 25px;
        }

        @media only screen and (max-width:991px) {
          flex: 1;
          text-align: center;
          display: flex;
          justify-content: space-evenly;

          a {
           margin-right: 0;
          }
        }
      }

      @media only screen and (max-width: 991px) and (min-width: 768px) {
        width: 60%;
      }

      @media only screen and (max-width: 767px) {
        width: 90%;
      }
    }
  }

  .about-experience {
    background-color: $et_dark_blue;
    padding: 35px 0 75px;
    position: relative;

    @media only screen and (max-width: 991px) {
      padding: 20px 25px 75px;
    }

    &:before {
      content: "";
      height: 100%;
      width: 100%;
      color: rgba(113, 113, 113, 0.1);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-image: linear-gradient(currentColor 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), currentColor calc(100% - 0.5px)), linear-gradient(90deg, currentColor 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), currentColor calc(100% - 0.5px));
      background-size: 60px 60px;
    }

    h2 {
      text-align: center;
      color: white;
      font-size: 3.5em;
      margin-bottom: 0;
      position:relative;
      z-index: 2;
    }

    p {
      margin: 0 auto 35px;
      max-width: 800px;
      font-size: 1.15em;
      font-weight: 200;
      text-align: center;
      color: white;
    }

    .experience-wrap {
      max-width: 900px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
  }

  .about-expertise {
    position: relative;

    @media only screen and (max-width: 991px) {
      padding: 0 25px 2em;
    }
  }
}
