article.portfolioWrapper {
  padding-top: 2em;
  padding-bottom: 1em;

  @media only screen and (max-width: 1160px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  header {
    h6 {
      margin-top: 0;
      margin-bottom: 1.5em;
      font-size: 1.15em;

      @media only screen and (max-width: 767px) {
        padding-left: 15px;
      }
    }
  }

  .portfolioHeader {
    display: flex;

    > div {
      flex: 0 0 50%;
      max-width: 50%;

      &:first-child {
        padding-right: 30px;

        .headerWrap {
          h1 {
            font-size: 2em;
            max-width: 75%;
            line-height: 1em;
            margin-top: 0.5em;
          }
        }

        .portfolioMeta {
          display: flex;
          border-top: solid thin rgba(black, 0.1);

          .portfolioTech {
            padding-right: 15px;
          }
          .portfolioClient {
            padding-left: 15px;
          }

          .portfolioTech, .portfolioClient {
            flex: 0 0 50%;
            max-width: 50%;

            h4 {
              font-size: 1.15em;
              margin-bottom: 10px;
            }

            .client {
              font-size: 0.92em;
            }

            .tech {
              span {
                position: relative;
                font-size: 0.92em;
                display: inline-block;

                &:not(:last-child) {
                  margin-right: 8px;
                  padding-right: 10px;

                  &:after {
                    content: "";
                    width: 3px;
                    height: 3px;
                    background-color: black;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    right: 0;
                  }
                }
              }
            }
          }
        }

        .clientWebsite {
          margin-bottom: 1.5em;
          font-size: 0.92em;

          a {
            color: black;
            text-decoration: none;

            svg {
              margin-right: 5px;
            }
          }
        }
      }

      &:last-child {
        padding-left: 15px;

        .content {
          p {
            line-height: 1.75em;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;

      > div {
        flex: 0 0 100%;
        max-width: 100%;

        &:first-child {
          padding: 0 15px;
          margin-bottom: 35px;
        }
      }
    }
  }

  .portfolioImagesWrapper {
    margin-top: 5em;

    @media only screen and (max-width: 991px) {
      padding: 0 15px;
    }

    .portfolioImage {
      max-width: 90%;
      border-radius: 2em;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 10px rgba(black, 0.30);

      img {
        max-width: 100%;
        margin: 0;
        display: block;
      }

      &:nth-child(even) {
        margin-left: 10%;
      }

      @media only screen and (max-width: 991px) {
        max-width: 100%;
        margin-bottom: 30px;

        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
  }
}
