@import "styles/variables";

.experience-drawer {
  .drawer-item {
    .drawer-control {
      display: flex;
      flex-wrap: nowrap;
      padding: 12px 15px;
      border-radius: 8px;
      background-color: rgba($et_blue, 0.5);
      color: $light_font;
      cursor: pointer;
      margin-bottom: 10px;

      > div {
        max-width: 50%;
        flex: 0 0 50%;

        &.date {
          text-align: right;
        }
      }

      @media only screen and (max-width: 767px) {
        flex-wrap: wrap;

        > div {
          max-width: 100%;
          flex: 0 0 100%;

          &.date {
            margin-top: 5px;
            text-align: left;
          }
        }
      }
    }

    .drawer-content {
      padding: 15px;
      background-color: rgba( $et_blue, 0.25);
      border-radius: 8px;
      margin: 5px 0 15px;
      overflow: hidden;

      .drawer-content-inner {
        display: flex;
        flex-wrap: wrap;

        > div {
          &:first-child {
            max-width: 65%;
            flex: 0 0 65%;
            color: $light_font;
            padding-right: 10px;

            .content-meta {
              margin-bottom: 15px;
              display: flex;
              flex-wrap: nowrap;

              svg {
                margin-right: 5px;
              }

              > div:not(:last-child) {
                margin-right: 25px;
              }

              .link {
                a {
                  color: $light_font;
                  text-decoration: none;
                }
              }
            }

            ul {
              margin: 0;
              padding: 0;
              list-style: none;

              li {
                font-size: 0.85em;

                &:not(:last-child) {
                  margin-bottom: 8px;
                }
              }
            }
          }

          &:nth-child(2) {
            max-width: 30%;
            flex: 0 0 30%;
            margin-left: 5%;
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              max-width: 100%;
              height: auto;
            }
          }

          &:last-child {
            flex: 0 0 100%;
            width: 100%;
            display: flex;
            margin-top: 2rem;

            > div {
              border-radius: 12px;
              background-color: $et_blue;
              color: white;
              padding: 4px 15px;

              &:not(:last-child) {
                margin-right: 8px;
              }
            }
          }

          @media only screen and (max-width: 991px) {
            &:first-child {
              order: 2;
              max-width: 100%;
              flex: 0 0 100%;

              .content-meta {
                flex-wrap: wrap;

                > div {
                  max-width: 100%;
                  flex: 0 0 100%;

                  &:not(:last-child) {
                    margin-bottom: 8px;
                  }
                }
              }
            }
            &:nth-child(2) {
              order: 1;
              max-width: 100%;
              flex: 0 0 100%;
              text-align: center;
              margin-left: 0;
              padding: 25px 0;

              img {
                max-width: 60%;
              }
            }
            &:last-child {
              order: 3;
              flex-wrap: wrap;

               > div {
                 margin-bottom: 15px;
               }
            }
          }
        }
      }
    }
  }
}
