@import "./styles/variables.scss";

:root {
  --toastify-z-index: 1000001;
}

.contact-page {
  .banner-wrap {
    .banner-text {
      left: 0.3em;
      top: -0.5em;
      font-size: 17em;

      @media only screen and (max-width: 767px) {
        top:0;
        left: 0;
        font-size: 8em;
      }
    }
  }

  section.contact {
    display: flex;
    height: 95vh;

    > div {
      width: 50%;
      flex: 0 0 50%;
    }

    .form-wrap {
      padding-left: calc((100vw - 1140px) / 2);
      position: relative;

      form {
        width: calc(100% + 15%);
        position: relative;
        left: 1.15em;
        top: -3.5em;
        background-color: white;
        padding: 25px 15px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(black, 0.25);
        z-index: 9999;

        .hide-form, .success-send {
          background-color: white;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          border-radius: inherit;
        }

        .success-send {
          display: flex;
          align-items: center;

          div {
            text-align: center;
            padding: 0 3em;

            p {
              font-size: 1.15em;
              color: $et_dark_blue;
            }

            svg {
              color: $et_blue;
            }
          }
        }

        .form-text {
          font-size: 2em;
          text-align: center;
          font-family: "Khand", sans-serif;
          margin-bottom: 10px;
        }

        .form-item {
          margin-bottom: 0.65em;

          input, textarea {
            border: solid thin rgba(black, 0.2);
            border-radius: 0.5em;
            width: 100%;
            padding: 15px;
            font-size: 1em;
            background-color: white;
          }

          textarea {
            min-height: 200px;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
          }
        }

        .form-button {
          button {
            background-color: $et_blue;
            color: white;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            border-radius: 0.5rem;
            border: none;
            font-size: 1.05em;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }

    .contact-sidebar {
      position: relative;

      .city-image {
        position: relative;
        width: 100%;
        height: calc(100% + 30vh);
        overflow: hidden;
        top: -30vh;

        > div {
          height: 100%;
        }
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .contact-info {
        position: absolute;
        bottom: 1.75em;
        background-color: $et_dark_blue;
        height: 26vh;
        padding: 3em 2em 15px 6em;
        border-radius: 10px;
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
        left: 2em;

        h3 {
          margin: 0 0 10px 0;
          font-size: 1.15em;
          color: white;
        }

        .email {
          font-size: 1rem;

          svg {
            margin-right: 5px;
            color: white;
          }
        }

        .social-icon {
          margin-top: 10px;

          > a:not(:last-child) {
            margin-right: 15px;
          }
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      height: auto;
      flex-wrap: wrap;

      > div {
        width: 100%;
        flex: 0 0 100%;
      }

      .form-wrap {
        padding: 0 15px;

        form {
          width: 100%;
          left: 0;
          top: 0;
        }
      }

      .contact-sidebar {
        padding: 0 15px 50px;
        margin-top: 35px;

        .city-image {
          display: none;
        }

        .contact-info {
          position: relative;
          bottom: 0;
          left: 0;
          height: auto;
          padding: 30px;
        }
      }
    }
  }
}
