article.articles {
  header {
    margin-top: 3em;
    max-width: 100%;
    height: 500px;

    img {
      object-fit: cover;
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  .post-container {
    h1 {
      font-size: 2.25em;
      margin-bottom: 5px;
    }

    .post-meta {
      margin-bottom: 1.75em;
      font-size: 0.85em;

      > span {
        display: inline-block;

        &.post-categories {
          margin-left: 10px;
        }
      }
    }
  }
}
