@import 'styles/variables';


.innerHeader {
  display: flex;

  .siteLogo {
    img {
      max-width: 9em;
      height: auto;
    }
  }

  .navigation {
    margin-left: auto;

    a {
      text-decoration: none;
      color: black;
      font-family: "Khand", sans-serif;
      font-size: 1.25em;

      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }
}

