@import 'styles/variables';


.innerHeader {
  display: flex;

  @media only screen and (max-width: 767px) {
    > div {
      display: flex;
      align-items: center;
    }
  }

  .siteLogo {
    img {
      max-width: 9em;
      height: auto;
    }
  }

  .navigation {
    margin-left: auto;

    a {
      text-decoration: none;
      color: black;
      font-family: "Khand", sans-serif;
      font-size: 1.25em;

      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }

  .mobileBtn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.mobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: 99999;
  background: black;

  .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 25px;
        }

        a {
          color: white;
          font-size: 1.5em;
          text-decoration: none;
        }
      }
    }
  }
}

