@import "./styles/variables";

.work-page {
  padding-bottom: 4em;

  .banner-wrap {
    .banner-text {
      left: initial;
      right: -0.58em;
      top: 0.5em;
      transform-origin: center;
    }
  }

  .wrapper {
    max-width: 900px;
  }

  .leadWork {
    position: relative;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 30px;

    > div {
      width: 50%;
      flex: 0 0 50%;
      max-height: 100%;

      &:first-child {
        position: relative;

        .workImage {
          position: relative;
          width: 100%;
          height: calc(100% + 30vh);
          border-bottom-right-radius: 2em;
          box-shadow: -1px -1px 5px rgba(black, 0.15);
          overflow: hidden;
          top: -30vh;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            margin: 0;
          }
        }
      }

      &:last-child {
        padding-right: calc((100vw - 1040px) / 2);
        padding-left: 30px;
        position: relative;

        .workInfo {
          position: relative;
          top: -3em;

          .workMeta {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.95em;
          }

          h1 {
            color: $et_blue;
            font-size: 2em;
            margin-bottom: 0.5em;
            line-height: 1em;
          }

          .excerpt {
            margin-bottom: 25px;
          }
        }
      }
    }

    @media only screen and (max-width: 767px) {
      height: auto;

      > div {
        width: 100%;
        flex: 0 0 100%;

        &:last-child {
          padding: 0 15px;

          .workInfo {
            top: 0;
            margin-top: 25px;
          }
        }
      }
    }
  }

  .workWrapper {
    padding: 0 15px;

    @media only screen and (max-width: 767px) {
      padding: 0;
    }

    .workItem {
      background-color: white;
      border-radius: 2em;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 5px rgba(black, 0.1);
      padding: 2em;

      .workItemInner {
        display: flex;
      }

      &:nth-child(odd) {
        right: -50px;
      }

      &:nth-child(even) {
        left: -50px;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      .workImage {
        flex: 0 0 35%;
        max-width: 35%;
        height: 300px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }

      .workInfo {
        padding: 0 25px;
        flex: 1;

        .workMeta {
          margin-bottom: 3.5em;
        }

        .excerpt {
          margin-bottom: 2.5em;
        }
      }

      @media only screen and (max-width: 767px) {
        background: transparent;
        box-shadow: none;
        padding: 0;
        border-radius: 0;

        &:nth-child(odd) {
          right: 0;
        }

        &:nth-child(even) {
          left: 0;
        }

        .workItemInner {
          flex-wrap: wrap;

          .workImage {
            flex: 0 0 100%;
            max-width: 100%;
            border-bottom-right-radius: 2em;
            overflow: hidden;
          }

          .workInfo {
            margin-top: 25px;

            .workMeta {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 0.95em;
              margin-bottom: 0;
            }

            h2 {
              color: #49a0d9;
              font-size: 2em;
              margin-bottom: 0.5em;
              line-height: 1em;
            }
          }
        }
      }
    }
  }
}
