@import 'styles/variables.scss';

html,body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: $bg_light_grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: 1450px) {
    max-width: 1140px;
  }
}

main {
  background-color: lighten(black, 99%);
  position: relative;
  z-index: 99;
  margin-bottom: 61px;
  padding-top: 60px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 100px;
  }
}

p {
  line-height: 1.55em;
  font-size: 1em;
  letter-spacing: 0.04em;
}

.banner-wrap {
  height: 30vh;
  position: relative;

  .banner-text {
    font-size: 18em;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    line-height: 1em;
    opacity: 0.03;
    font-family: "Khand", sans-serif;
    transform: rotate(90deg);
    transform-origin: left;
    left: 0.3em;
    top: -0.5em;
  }

  @media only screen and (max-width: 767px) {
    height: auto;

    .banner-text {
      font-size: 9em;
      transform: none;
      position: relative;
      left: 0;
      top: 0;
    }
  }
}
