$colors: (
	blue: #49a0d9,
	white: #ffffff,
	font_white: #f6f6f6,
	black: #000000,
	grey: #111111,
	lightgrey: #CCCCCC
);

$fa-font-path: '../fonts';

$bg-current-music: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkBAMAAACCzIhnAAAAGFBMVEX09PT19fXz8/Pw8PDv7+/x8fH29vby8vIpIYA7AAAA6klEQVR4Xr3LQQ3EMBTE0E8hFELhUyiFUgiF0t+jD81qlNGovlqv1tjXz5+xHDKKaF6zuraNAEEUJk4QmDhBYPIEgckTBCZPEJg8QWDyBEEdJAhhPCIEJkAQyvgEIY1PENL4BCGNTxDa+AShjU8Q2vgEoY1PENr4BKFrl7yEMBaplxDGIvess26L1Bdk9BGYV1mk+kjM4ZHqE1EuwWhRPsFo4ROMFj7BaOETjBY+wWjhE4wWPsFo4ROMFj7BaOETaiF8IgwiRzCIihMMIk4wiDzBIPIEg8gTDCJPMIg8wSASZI19z137sQzyA5yVY7/g20vNAAAAAElFTkSuQmCC';
